html{
	font-family: calibri;
	font-size: 1.1em;
	color:#00042d;
}
table, tbody{
	display: block;
}
table {
	 border-width:1px; 
	 border-style:solid; 
	 border-color:#ecf0f1;
	 width:100%;
	border-collapse:collapse;
	font-size:0.8em;
  table-layout: auto;
 }
tr{
	border-collapse:collapse;
}
th {
	 border-width:1px;
	 border-style:solid; 
	 border-color:#ecf0f1;
	padding: 1% 11px;
	text-align:center;
	background-color:#7f8c8d;
	color:white;

  border-collapse: collapse;
}
td { 
	border-width:1px;
	border-style:solid; 
	border-color:#ecf0f1;
	border-collapse:collapse;
	vertical-align: baseline;
	padding: 1% 11px;
	text-align: center;
	white-space:nowrap;
	background-color: #bdc3c7;
}
blockquote{
	margin: 0px;
}
.choose_maquette{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	margin: auto;
	margin-top: 2em;
	flex-wrap: wrap;
	margin-bottom: 2em;
}
.choose_maquette h3 {
	width: 100%;
	text-align: center;
}
	

.maquette{
	background-color: #ecf0f1;
	padding: 0.5%;
	margin: 0px;
	/**border-block-start-width: 1px;
	border-block-start-style:solid;
	border-block-start-color:black;*/
}
.maquette:nth-child(even){
	background-color: #e4e4e4;
}
.vide{
 color: #bdc3c7;
}
body{
padding: 0px;
margin: 0px;
background-color:#ecf0f1;
}
table:first-child {
border-block-start-width: 0px;
}
.titre_maquette{
	width:100%;
	text-align:center;
}
.UF{
	font-size:1.2em;
}
.UE{
	text-align: left;
}
.email{
	width: 18.5em;
}
.case_uf span {
	margin-left:2px;
}
.GD1{
	background-color:#e74c3c;
}
.GD2{
	background-color:#3498db;
}
.GD3{
	background-color:#2ecc71;
}
.GD4, .GD6{
	background-color:#9b59b6;
}
.GD5, .GD7{
	background-color:#1abc9c;
}
.none {
	display:none;
}

.nomEnseignant span {
	padding : 0px 2px;
}
.profs {
	display : flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
.nomEnseignant {
	text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
.profs p {
	margin: 1em 0px;
}
.titre_profs{
	text-align: center;
	/*font-size: 1.4em;*/
	margin: 1em 0 0.3em 0;
}
.EnseignantUF{
	width: 25%;
	text-align: center;
}
.EnseignantDep{
	text-align: center;	
}
.infos {
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
}
.dep{
	width: 100%;
	text-align: center;
}
.infos_profs{
	width: 100%;
}
.btnmaquette{
	display: flex;
	justify-content: center;
	margin: 2em 2em 0em 2em;
	border-style: solid;
   	border-width: 0.1em;
   	border-color: #050a3b;
	border-radius: 1em;
	color: #050a3b;
	cursor: pointer;
	padding: 0.5em 2em;
	background-color: transparent;
	-webkit-transition-property: background-color, color, border-color;
   	transition-property: background-color, color, border-color;
   	-webkit-transition-duration: .4s;
   	transition-duration: .4s;
   	font-size: 1em;
}
.btnmaquette:hover{
	background: #050a3b;
    color: white;
    border-color: white;
}
button.click{
	background: #050a3b;
    color: white;
    border-color: white;
}